body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* Nav bar */
.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

@media only screen and (max-width: 769px) {
  .arctic{
    display: none !important;
   
  }
  
}
@media only screen and (max-width: 769px) {
  .domes{
    display: none !important;
  }
  
}
@media only screen and (max-width: 769px) {
  .nav-link {
    color: #222222 !important;
   
  }
  
}
.f-info-link a {
  text-decoration: none;
  color: #222222;
}

.f-info-link a:hover {
  text-decoration: underline;
}
.f-info-link {
  width: 100%;
}
/* Default state for larger screens */
.tog {
  display: block; /* or any other display value that makes the element visible */
}

@media only screen and (max-width: 769px) {
  .tog {
    display: none !important;
  }
}
/* footter */
.f-info-socials {
  width: 100%;
  margin-left: 20;
  margin-top: 1rem;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-left: 1 rem;
}
.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* card information */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}

/* card effect */
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* show image */
.show-img {
  height: 30vh !important;
}
.btns {
  display: flex;
}
.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* for map */
#map {
    height: 400px;
    width: 88vh;
    margin-right: -100%;
 
}

@media only screen and (max-width: 769px) {
  #map{
    height: 400px;
    width: 63vh;
    margin-left: -40%;
}
}

@media only screen and (max-width: 769px) {
  .maphed{
    margin-left: -30%;
  }
}




