<% layout("/layouts/boilerplate") %>
<style>
    #filters {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .filter {
        text-align: center;
        margin-right: 2rem;
        margin-top: 1rem;
        opacity: 0.7;
    }
    .filter:hover {
        opacity: 1;
        cursor: pointer;
    }
    .filter p {
        font-size: 0.8rem;
    }
    .tax-info {
        display: none;
    }
    .tax-toggle {
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
        padding: 1rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
    }

    @media only screen and (min-width: 769px) {
        .smallscreenonly {
            display: none !important;
        }
    }
</style>

<br class="smallscreenonly"><br class="smallscreenonly">

<div class="row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-">
    <div id="filters">
        <!-- Filters content here -->
    </div>
</div>
<br>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-">
    <% for (let listing of allListings) { %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                    <b><p class="card-text"><%= listing.title %></b><br> 
                    <% if (listing.price) { %>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %> /night
                        <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
                    <% } else { %>
                        Price not available
                    <% } %>
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>
